<div class="container">
  <div class="row text-center">
    <div class="col-md-12">
      <h1>Messages</h1>
    </div>
  </div>

  <div class="new-message">
    <%= render 'form', message: @message %>
  </div>

  <hr>

  <div class="twt-wrapper">
    <div class="panel">
      <div class="panel-body">
        <ul class="media-list">
          <% if @messages.present? %>
            <% @messages.each do |message| %>
              <%= render 'message', message: message %>
            <% end %>
          <% else %>
            <div class="row">
              <div class="col-md-12 text-center">
                <i>Nothing to display!</i>
              </div>
            </div>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

